Repository grafana/Grafana_Status_panel: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,json,md}"
      run: npm run prettier --check {staged_files}    
      stage_fixed: true

changelog
  CHANGELOG.md
Due: prettier

fixing playwright install
  .github/workflows/e2e.yml
Due: none

run playwright tests via npx
  .github/workflows/e2e.yml
Due: none

bumping min version of grafana up
  src/plugin.json
Due: prettier

going back to yarn as our drone pipeline only supports it
  .github/workflows/e2e.yml
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

cspell config
  cspell.config.json
Due: prettier

spellcheck
  cspell.config.json
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

ignore docker file
  cspell.config.json
Due: prettier

automated release 2.0.0
  dist/plugin.json
Due: prettier

add installation guide
  install.md
Due: prettier

cleaning and create a new option part
  src/components/StatusColorOptionsEditor.tsx
  src/components/StatusThresholdOptionsEditor.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/lib/statusFieldOptionsBuilder.ts
  src/lib/statusPanelOptionsBuilder.ts
  src/lib/thresholdOptionsBuilder.ts
  src/module.ts
Due: eslint, prettier

bug in remove threshold
  src/components/ThresholdOptionsEditor.tsx
  src/components/ThresholdSetComponent.tsx
Due: eslint, prettier

save thresholds list in panel options
  src/components/ThresholdOptionsEditor.tsx
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
  src/lib/thresholdOptionsBuilder.ts
Due: eslint, prettier

Fix wrong threshold deletion when click on delete button
  src/components/ThresholdOptionsEditor.tsx
  src/components/ThresholdSetComponent.tsx
Due: eslint, prettier

Add default threshold
  src/components/ThresholdOptionsEditor.tsx
Due: eslint, prettier

Change threshold color handler
  src/components/ThresholdOptionsEditor.tsx
  src/components/ThresholdSetComponent.tsx
Due: eslint, prettier

cleaning and rename some options (clusterName, url ...)
  src/components/StatusColorOptionsEditor.tsx
  src/components/StatusPanel.tsx
  src/components/StatusThresholdOptionsEditor.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/interfaces/statusFieldOptions.tsx
  src/interfaces/statusPanelOptions.tsx
  src/lib/buildStatusMetricProps.ts
  src/lib/statusFieldOptionsBuilder.ts
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
  src/lib/thresholdOptionsBuilder.ts
  src/module.ts
Due: eslint, prettier

cleaning
  src/components/StatusPanel.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/interfaces/statusPanelOptions.tsx
  src/lib/buildStatusMetricProps.ts
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

Change background color depending on threshold set
  src/components/StatusPanel.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/components/ThresholdSetComponent.tsx
Due: eslint, prettier

Fix bug by adding defaultValue in OptionsBuilder
  src/components/StatusPanel.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/components/ThresholdSetComponent.tsx
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

Implementing aggregation for calculate the actual threshold
  src/components/StatusPanel.tsx
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

fix bug wrong threshold selection
  src/components/StatusPanel.tsx
Due: eslint, prettier

Cleaning, remove useless display options
  src/components/StatusPanel.tsx
  src/interfaces/statusFieldOptions.tsx
  src/lib/buildStatusMetricProps.ts
  src/lib/statusFieldOptionsBuilder.ts
Due: eslint, prettier

Remove useless. modify display options
  src/components/MetricUnitOptionsEditor.tsx
  src/components/StatusPanel.tsx
  src/components/buildStatusMetric.tsx
  src/interfaces/statusFieldOptions.tsx
  src/interfaces/statusPanelOptions.tsx
  src/lib/buildStatusMetricProps.ts
  src/lib/statusFieldOptionsBuilder.ts
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
  src/lib/thresholdCalulationFunc.ts
Due: eslint, prettier

Display query value with unit in different font format
  src/components/MetricUnitOptionsEditor.tsx
  src/components/StatusPanel.tsx
  src/components/buildStatusMetric.tsx
  src/interfaces/statusPanelOptions.tsx
  src/lib/statusFieldOptionsBuilder.ts
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

Update grafana image tag to the latest
  docker-compose.yaml
Due: none

Add unitPicker instead of inputText. Benjamin, read the doc ...
  src/components/MetricUnitOptionsEditor.tsx
  src/components/StatusPanel.tsx
  src/components/buildStatusMetric.tsx
  src/lib/statusFieldOptionsBuilder.ts
Due: eslint, prettier

pane url link open on click
  src/components/StatusPanel.tsx
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

Replace customEditor with a already UnitPicker
  src/lib/statusFieldOptionsBuilder.ts
Due: eslint, prettier

Add options to switch beetwen front and back flipcard
  src/components/StatusPanel.tsx
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

Save flipState without using localStorage but via an option
  src/components/StatusPanel.tsx
  src/interfaces/statusPanelOptions.tsx
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

cleaning
  src/components/Marquee.tsx
  src/components/MetricUnitOptionsEditor.tsx
  src/components/StatusPanel.tsx
  src/components/ThresholdOptionsEditor.tsx
  src/components/buildStatusMetric.tsx
  src/interfaces/statusFieldOptions.tsx
  src/lib/statusMigrationHandler.ts
  src/lib/thresholdCalulationFunc.ts
Due: eslint, prettier

Fix disable color when no data
  src/components/StatusPanel.tsx
  src/lib/thresholdCalulationFunc.ts
Due: eslint, prettier

g r compris aux tests ! ??
  playwright.config.ts
  tests/panel.spec.ts
Due: eslint, prettier

Add simple tests e2e
  install.md
  tests/panel.spec.ts
Due: eslint, prettier

Change plugin information to v3.0.0
  CHANGELOG.md
  README.md
  package.json
  src/img/error-front.png
  src/img/error.png
  src/img/ok-front.png
  src/img/ok.png
  src/img/warning-front.png
  src/img/warning.png
  src/plugin.json
Due: prettier

Fix bug with 0 as query value always return base threshold
  src/lib/thresholdCalulationFunc.ts
Due: eslint, prettier
