Repository grafana/Grafana_Status_panel: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

prettier:
  run: npm run prettier --check {staged_files}
  stage_fixed: true

docs: describe the regressions by their shape, not by the dashboard that exposed them
  CHANGELOG.md
  docs/REGRESSIONS.md
  docs/ROADMAP.md
Due: prettier

chore: clear the plugin validator and patch the build toolchain
  README.md
  package-lock.json
  package.json
  src/plugin.json
Due: prettier

chore: update the create-plugin scaffolding from 5.25.4 to 7.8.1
  .config/.cprc.json
  .config/.eslintrc
  .config/bundler/externals.ts
  .config/docker-compose-base.yaml
  .config/eslint.config.mjs
  .config/jest-setup.js
  .config/jest.config.js
  .config/tsconfig.json
  .config/types/setupTests.d.ts
  .config/webpack/webpack.config.ts
  .eslintrc
  docker-compose.yaml
  eslint.config.mjs
  package-lock.json
  package.json
  src/lib/diagnostics.ts
Due: eslint, prettier

docs: audit every document for accuracy and voice
  CHANGELOG.md
  docs/REGRESSIONS.md
  docs/ROADMAP.md
Due: prettier

chore: default local dev to the Grafana version the plugin is validated against
  docker-compose.yaml
Due: none

docs: fix three inaccuracies in the regression audit
  docs/REGRESSIONS.md
Due: prettier

docs: correct stale option labels and a removed field in the README
  README.md
Due: prettier

docs: refresh the README screenshots for the React panel
  src/img/environment_snapshot.png
  src/img/error.png
  src/img/ok.png
  src/img/warning.png
Due: none

docs: use a readable green in the README screenshots
  src/img/environment_snapshot.png
  src/img/ok.png
Due: none

docs: rewrite the README
  README.md
Due: prettier

docs: move the maintainership notice to the end and tighten it
  README.md
Due: prettier

fix: remove NUL bytes from the diagnostics dedup key; drop a dead re-export
  src/hooks/index.ts
  src/lib/diagnostics.ts
Due: eslint, prettier

chore: drop the redundant plugin mount and dead delve port from the dev compose
  docker-compose.yaml
Due: none

test: rebuild the provisioned demo dashboards
  provisioning/dashboards/angular-migration.json
  provisioning/dashboards/dashboard.json
  provisioning/dashboards/switch-ports.json
  tests/panel.spec.ts
Due: eslint, prettier

build: add a Makefile to build the plugin with a pinned Node in Docker
  Makefile
Due: none

docs: document the Docker build flow and refresh the dev notes
  README.md
  docs/ROADMAP.md
Due: prettier

build: make the Docker build resilient to a root-owned dist
  Makefile
Due: none

test: refactor the AngularJS migration fixture and explain its purpose
  provisioning/dashboards/angular-migration.json
Due: prettier

docs: name the three demo dashboards in the README and roadmap
  README.md
  docs/ROADMAP.md
Due: prettier

test: show values as percentages on the host-health demo
  provisioning/dashboards/angular-migration.json
  provisioning/dashboards/dashboard.json
Due: prettier

docs: refresh the catalog screenshots and add the switch faceplate
  README.md
  src/img/environment_snapshot.png
  src/img/error.png
  src/img/ok.png
  src/img/switch.png
  src/img/warning.png
  src/plugin.json
Due: prettier

test: build the switch demo with panel repeat instead of 26 panels
  README.md
  provisioning/dashboards/switch-ports.json
  src/img/switch.png
Due: prettier

test: grey out switch ports that report nothing
  README.md
  provisioning/dashboards/switch-ports.json
  src/img/switch.png
Due: prettier

test: title the demo dashboards plainly and say what each one does
  provisioning/dashboards/angular-migration.json
  provisioning/dashboards/dashboard.json
  provisioning/dashboards/switch-ports.json
Due: prettier

docs: correct three stale facts across the README, changelog and roadmap
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
Due: prettier

docs: scope v2.1 down to stabilisation and move the features to v3
  docs/ROADMAP.md
Due: prettier

docs: align the roadmap intro with the v2.1 scoping
  docs/ROADMAP.md
Due: prettier

docs: name the switch screenshot for what it actually shows
  src/plugin.json
Due: prettier

test: use a hyphen instead of an em dash in test descriptions
  src/components/Marquee.test.tsx
  src/lib/buildStatusMetricProps.test.ts
  src/lib/statusMigrationHandler.test.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,json,md}
