Repository grafana/Grafana_Status_panel: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,json,md}"
      run: npm run prettier --check {staged_files}    
      stage_fixed: true

Use correct aggregation names for Grafana (#17)
  package-lock.json
  package.json
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

Fix displaying correct alias based on target when avaialble
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

2.0.4
  package-lock.json
  package.json
Due: prettier

Fix displaying correct alias based on target when avaialble (#18)
  package-lock.json
  package.json
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Chore: Add CODEOWNERS file (#19)
  .github/CODEOWNERS
Due: none

Chore: Run create-plugin update
  .config/.cprc.json
  .config/.eslintrc
  .config/docker-compose-base.yaml
  .config/jest.config.js
  .config/jest/utils.js
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package-lock.json
  package.json
Due: eslint, prettier

run audit fix
  package-lock.json
Due: prettier

Chore: run create-plugin update and audit fix (#20)
  .config/.cprc.json
  .config/.eslintrc
  .config/docker-compose-base.yaml
  .config/jest.config.js
  .config/jest/utils.js
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package-lock.json
  package.json
Due: eslint, prettier

chore: configure renovate
  .github/renovate.json
Due: prettier

remove default ignore
  .github/renovate.json
Due: prettier

chore: configure renovate (#27)
  .github/renovate.json
Due: prettier

Exclude react from all npm dependencies
  .github/renovate.json
Due: prettier

Exclude react from all npm dependencies (#28)
  .github/renovate.json
Due: prettier

chore: Fix link to Notices in README.md
  README.md
Due: prettier

chore: Fix link to Notices in README.md (#34)
  README.md
Due: prettier

chore: make grafanaDependency prerelease-inclusive
  src/plugin.json
Due: prettier

chore: make grafanaDependency prerelease-inclusive (#36)
  src/plugin.json
Due: prettier

fix: restore value-handler semantics lost in the React rewrite
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

docs: add v2.1 roadmap and Angular->React regression audit
  docs/REGRESSIONS.md
  docs/ROADMAP.md
Due: prettier

fix: render Text Only metrics (regression #5)
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

fix: restore chronological comparison for Date Threshold (regression #2)
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

fix: preserve per-metric Measurement URL on Angular migration (regression #7)
  src/lib/statusMigrationHandler.test.ts
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

chore: drop the removed Remove Prefix feature from docs and dead code (regression #6)
  README.md
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

docs: document single-sided thresholds and add the v2.1.0 changelog
  CHANGELOG.md
  README.md
Due: prettier

fix: detect real AngularJS panels so the migration actually runs (regression #8)
  src/lib/statusMigrationHandler.test.ts
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

fix: scroll a long alert list instead of bouncing it (regression #12)
  src/components/Marquee.test.tsx
  src/components/Marquee.tsx
  src/components/StatusPanel.tsx
Due: eslint, prettier

fix: grade a value against each threshold bound, not against a range (regression #11)
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

fix: always show the value of a Text Only metric (regression #10)
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

fix: migrate an unset Angular threshold as an empty string (regression #9)
  src/lib/statusMigrationHandler.test.ts
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

docs: keep production hostnames and metric names out of the audit
  docs/REGRESSIONS.md
Due: prettier

fix: centre the text on a card (regression #13)
  src/components/StatusPanel.tsx
Due: eslint, prettier

docs: add the card text centring regression (#13)
  CHANGELOG.md
  docs/ROADMAP.md
Due: prettier

refactor: replace the deprecated Select with Combobox in the threshold editor
  src/components/StatusThresholdOptionsEditor.tsx
Due: eslint, prettier

docs: complete the regression audit with what the production dashboard found
  docs/REGRESSIONS.md
Due: prettier

docs: say plainly which regressions have tests and which were checked by eye
  CHANGELOG.md
  docs/ROADMAP.md
Due: prettier

feat: report a misconfigured metric instead of failing quietly
  src/lib/buildStatusMetricProps.test.ts
  src/lib/buildStatusMetricProps.ts
  src/lib/diagnostics.ts
Due: eslint, prettier

docs: record the five regressions the production dashboard uncovered
  CHANGELOG.md
  docs/ROADMAP.md
Due: prettier
