Repository grafana/Grafana_Status_panel: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npm run lint {staged_files}
  stage_fixed: true

prettier:
  run: npm run prettier --check {staged_files}
  stage_fixed: true

Modified provisioned dashboard, to show examples
  provisioning/dashboards/dashboard.json
Due: prettier

update test accordingly
  tests/panel.spec.ts
Due: eslint, prettier

Adding feature multi panes in one panel
  CHANGELOG.md
  README.md
  provisioning/dashboards/dashboard.json
  src/components/FlipCard.tsx
  src/components/FormattedStringHelpEditor.tsx
  src/components/StatusPanel.tsx
  src/img/multi-panes.PNG
  src/interfaces/formattedStringVariables.tsx
  src/interfaces/styleCSS.tsx
  src/lib/formattedString.ts
  src/lib/statusPanelOptionsBuilder.ts
  src/lib/thresholdCalulationFunc.ts
Due: eslint, prettier

Initial changes
  CHANGELOG.md
  docker-compose.yaml
  package.json
  src/components/StatusPanel.tsx
Due: eslint, prettier

remove the console.log
  src/lib/buildStatusMetricProps.ts
Due: eslint, prettier

bump dashboard schema
  provisioning/dashboards/dashboard.json
Due: prettier

add bottom margin
  src/components/StatusPanel.tsx
Due: eslint, prettier

add test dashboard for old version
  provisioning/dashboards/old-version.json
Due: prettier

Add full dashboard
  provisioning/dashboards/old-version.json
Due: prettier

add test dashboard for old version (#7)
  provisioning/dashboards/old-version.json
Due: prettier

Fix setMigrationHandler not handling fieldConfig overrides correctly
  docker-compose.yaml
  provisioning/dashboards/old-version.json
  src/lib/buildStatusMetricProps.ts
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

Update CI
  .github/workflows/e2e.yml
Due: none

Use yarn
  .github/workflows/e2e.yml
Due: none

fix yarn ci
  .github/workflows/e2e.yml
Due: none

Bump version
  package.json
Due: prettier

Fix setMigrationHandler not handling fieldConfig overrides correctly (#8)
  .github/workflows/e2e.yml
  docker-compose.yaml
  package.json
  provisioning/dashboards/old-version.json
  src/lib/buildStatusMetricProps.ts
  src/lib/statusMigrationHandler.ts
  src/lib/statusPanelOptionsBuilder.ts
Due: eslint, prettier

automated release 2.0.1
  dist/plugin.json
Due: prettier

Update
  .github/workflows/e2e.yml
Due: none

Update create-plugin and CI
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/jest-setup.js
  .config/jest.config.js
  .config/tsconfig.json
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package.json
  yarn.lock
Due: eslint, prettier

Fix wrong migrations
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

v2.0.2
  package.json
Due: prettier

Fix migrations
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

Use version 2.0.2
  package.json
Due: prettier

Fix migrations between react versions (#12)
  package.json
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

automated release 2.0.2
  dist/plugin.json
Due: prettier

Update create-plugin dependencies
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/jest-setup.js
  .config/jest.config.js
  .config/tsconfig.json
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package.json
  yarn.lock
Due: eslint, prettier

Update deprecated code
  src/components/StatusColorOptionsEditor.tsx
  src/components/StatusThresholdOptionsEditor.tsx
Due: eslint, prettier

Chore: Update to latest create-plugin (#13)
  .config/.cprc.json
  .config/.eslintrc
  .config/Dockerfile
  .config/README.md
  .config/jest-setup.js
  .config/jest.config.js
  .config/tsconfig.json
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  .cprc.json
  package.json
  src/components/StatusColorOptionsEditor.tsx
  src/components/StatusThresholdOptionsEditor.tsx
  yarn.lock
Due: eslint, prettier

Migrate to npm
  docker-compose.yaml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

Replace yarn with npm
  .github/workflows/e2e.yml
Due: none

Chore: migrate from yarn 4 to npm (#15)
  .github/workflows/e2e.yml
  docker-compose.yaml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

CI/CD: Move to plugin-ci-workflows
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

running @grafana/create-plugin update
  .config/.cprc.json
  .config/Dockerfile
  .config/README.md
  .config/docker-compose-base.yaml
  .config/types/bundler-rules.d.ts
  .config/types/webpack-plugins.d.ts
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/utils.ts
  .config/webpack/webpack.config.ts
  package.json
Due: eslint, prettier

bumping deps
  package-lock.json
Due: prettier

set launch args
  playwright.config.ts
Due: eslint, prettier

CI/CD: Move to plugin-ci-workflows (#16)
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
  playwright.config.ts
Due: eslint, prettier

Use correct aggregation names for Grafana
  src/lib/statusMigrationHandler.ts
Due: eslint, prettier

2.0.3
  package-lock.json
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,json,md}
